<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7465a0">  <td>23/11/08 11:58:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Get_TC1.executor()[pri:0, instance:testclass_package.Get_TC1@ffaa6af]">executor</td> 
  <td>main@657736958</td>   <td></td> </tr>
<tr bgcolor="6773a3">  <td>23/11/08 11:58:35</td>   <td>-8553</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Post_TC1.executor()[pri:0, instance:testclass_package.Post_TC1@f0da945]">executor</td> 
  <td>main@657736958</td>   <td></td> </tr>
<tr bgcolor="f170ad">  <td>23/11/08 11:58:42</td>   <td>-2257</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Put_TC1.executor()[pri:0, instance:testclass_package.Put_TC1@4803b726]">executor</td> 
  <td>main@657736958</td>   <td></td> </tr>
<tr bgcolor="83dc97">  <td>23/11/08 11:58:15</td>   <td>-28645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Patch_TC1.executor()[pri:0, instance:testclass_package.Patch_TC1@2ed2d9cb]">executor</td> 
  <td>main@657736958</td>   <td></td> </tr>
</table>
